.breadcrumbs
	list-style: none
	margin: 30px 0 4px
	padding: 0
	&-item
		padding: 0 4px
		&:first-child
			paddgin-left: 0
		&:last-child
			padding-right: 0
	&-link
		font-size: em(12)
		line-height: 1.2
		color: #838383
		text-decoration: none
		transition: color .15s cubic-bezier(.4,0,.21,1.1)
		&:hover
			color: #3e3e3e
	.house_mod
		color: #C1C1C1
		margin-right: 8px
@media (max-width: 992px)
	.breadcrumbs
		margin: 20px 0 4px