.footer
	padding-top: 50px
	padding-bottom: 55px
	display: flex
	justify-content: space-between
	p
		font-size: em(13)
		line-height: 1.2
		color: #AEAEAE
		display: block
		margin: 0 0 40px 0
	&-nav
		display: block
		margin-bottom: 30px
		a
			font-size: em(12)
			color: #A0A0A0
			display: inline-block
			text-decoration: none
			transition: color .15s cubic-bezier(.4,0,.21,1.1)
			&:hover
				color: #3e3e3e
		&-item
			padding-right: 20px
			position: relative
			display: inline-block
			&:last-of-type
				&::after
					content: none
			&::after
				content: ''
				display: block
				position: absolute
				right: 10px
				top: 0
				bottom: 0
				margin: auto
				width: 1px
				height: 12px
				background-color: #a0a0a0
.footer-social
	list-style: none
	margin: 0
	padding: 0
	font-size: 0
	li
		display: inline-block
		margin-right: 10px
		&:last-child
			margin-right: 0
.footer-control
	display: flex
	justify-content: flex-start
	.btn
		margin-right: 10px
		&:last-child
			margin-right: 0
.btn-footer
	background-color: #E3E7EB
	color: #8C8C8C
	position: relative
	transition: background-color .15s cubic-bezier(.4,0,.21,1.1), color .15s cubic-bezier(.4,0,.21,1.1)
	&:hover
		background-color: #283644
		color: #ffffff
.btn-login
	padding-left: 35px
	&:hover
		.login_mod
			color: #fff
	.login_mod
		position: absolute
		left: 12px
		top: 0
		bottom: 0
		margin: auto
		color: #8C8C8C

@media (max-width: 768px)
	.footer
		flex-direction: column
		align-items: center
		text-align: center
		&-col
			&:nth-of-type(2)
				order: 0
				margin-bottom: 40px
			&:nth-of-type(1)
				order: 1
