.header
	height: 70px
	background-color: #fff
	border-bottom: 1px solid #D9D9D9
	.container
		height: inherit

.left-links
	align-items: center
.logo
	margin-right: 40px
	img
		float: left
		margin-right: 18px
		margin-top: 5px
	a
		font-size: em(18)
		text-decoration: none
		color: #616161
		line-height: 1
.city-select
	display: flex
	align-items: center
	font-size: em(14)
	font-weight: 400
	text-decoration: none
	color: #616161
	border: 0
	background: transparent
	cursor: pointer
	transition: color .15s cubic-bezier(.4,0,.21,1.1)
	&:hover
		color: #3e3e3e
	span 
		border-bottom: 1px dotted #616161

.map-point_mod
	color: #FD9041
	position: relative
	margin-right: 8px


.navbar-expand-lg .navbar-nav .nav-link
	padding-left: .8rem
	padding-right: .8rem
.dropdown-toggle:after
	border: none
	background: url(../images/icons/shevron.svg) 0 0 no-repeat
	background-size: 12px 7px
	width: 12px
	height: 7px
	vertical-align: 0
	margin-left: 8px

.navbar-toggler-icon
	background: url(../images/ui/burger.svg) 0 0 no-repeat

.navbar-light
	.logo
		a
			color: #616161
	.city-select
		color: #616161
		&:hover
			color: #3e3e3e
		span 
			border-bottom: 1px dotted #616161
.navbar-dark
	.logo
		a
			color: #ffffff
	.city-select
		color: #ffffff
		&:hover
			color: #ffffff
		span 
			border-bottom: 1px dotted #ffffff
.bg-primary-blue
	background-color: #0A2E65 !important
.bg-primary
	background-color: #0B3E8B !important
.bg-dark
	background-color: #3A3E44 !important


@media (min-width: 992px)
	.header-nav
		.nav-link
			font-size: em(16)
			color: #616161
			padding-top: 0
			padding-bottom: 0
			text-decoration: none
			transition: color .15s cubic-bezier(.4,0,.21,1.1)
			&:hover
				color: #3e3e3e
		.navbar-nav > .nav-item
			&:first-child
				.nav-link
					padding-left: 0
			&:last-child
				.nav-link
					padding-right: 0
		.navbar-nav > .nav-item
			&:nth-of-type(3)
				.nav-link
					position: relative
					&::before
						content: ''
						width: 5px
						height: 5px
						background-color: #4AE700
						display: block
						border-radius: 50%
						position: absolute
						top: -2px
						left: 4px
@media (max-width: 1200px)
	.logo
		margin-right: 10px
@media (max-width: 992px)
	.header
		height: auto
@media (max-width: 575px)
	.logo
		margin-right: 15px
	.logo
		img
			margin-right: 16px
	.city-select
		padding-right: 15px
@media (max-width: 480px)
	.logo
		margin-right: 0px
	.city-select
		.map-point_mod
			margin-right: 0
		span
			display: none