.centers-map-search
    position: absolute
    top: 30px
    left: 0
    right: 0
    margin: auto
    z-index: 1
    width: calc(100% - 64px)
    input[type="text"]
        width: 100%
        position: relative
        background-color: #ffffff
        border: 0
        border-radius: 6px
        font-size: em(18)
        color: #A3A3A3
        padding: 0 50px 0 18px
        z-index: 0
        height: 43px
    .magnify_mod
        position: absolute
        top: 0
        bottom: 0
        right: 12px
        margin: auto
        z-index: 1
        color: #C5C9CC
@media (max-width: 1200px)
    .centers-map-search
        max-width: 505px
        left: unset
        right: 30px
        input[type="text"]