.icon
	display: inline-block
	width: 1em
	height: 1em
	fill: currentColor

.icon-ccard-switch
	font-size: (20/14)*1rem
	width: (23/20)*1em
.icon-check
	font-size: (9/14)*1rem
	width: (11/9)*1em
.icon-close
	font-size: (13/14)*1rem
	width: (13/13)*1em
.icon-house
	font-size: (24/14)*1rem
	width: (24/24)*1em
.icon-login
	font-size: (15.3/14)*1rem
	width: (12.3/15.3)*1em
.icon-magnify
	font-size: (21/14)*1rem
	width: (20.6/21)*1em
.icon-map-point
	font-size: (17.8/14)*1rem
	width: (15/17.8)*1em
.icon-reload
	font-size: (22/14)*1rem
	width: (25/22)*1em
.icon-services-list-check
	font-size: (9/14)*1rem
	width: (11/9)*1em
.icon-shevron
	font-size: (6.7/14)*1rem
	width: (11.7/6.7)*1em
.icon-warning
	font-size: (7.9/14)*1rem
	width: (9/7.9)*1em
