include ../mixins/mixins.pug
doctype html
html(lang="ru")
	include ../layout/head.pug

	body
		include ../layout/pgs.pug
		header.header.bg-dark
			.container
				.header-wrap.d-flex.justify-content-left.align-items-center.h-100.navbar.navbar-expand-lg.navbar-dark.px-0
					.logo.flex-grow-1.flex-sm-grow-0.flex-md-grow-0.flex-lg-0.flex-xl-grow-0
						a(href="#")
							img(src="images/logo/logo.svg", alt="")
							span Федеральный реестр<br>Сервисных центров

					button.city-select
						+icon('map-point', 'map-point_mod')
						span Москва

					
					button.navbar-toggler.p-0(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
					nav.header-nav.collapse.navbar-collapse.flex-grow-1.p-0#navbarNav
						ul.navbar-nav.ml-auto.pt-3.pt-lg-0
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Ремонт
								.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
									a.dropdown-item(href="#") Ремонт 1
									a.dropdown-item(href="#") Ремонт 2
									a.dropdown-item(href="#") Ремонт 3
									a.dropdown-item(href="#") Ремонт 4
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Услуги
								.dropdown-menu(aria-labelledby="navbarDropdownMenuLink2")
									a.dropdown-item(href="#") Услуги 1
									a.dropdown-item(href="#") Услуги 2
									a.dropdown-item(href="#") Услуги 3
									a.dropdown-item(href="#") Услуги 4
							li.nav-item.active
								a.nav-link(href="#") Заявка на ремонт
							li.nav-item.active
								a.nav-link(href="#") Вопросы по ремонту
		header.header.bg-primary
			.container
				.header-wrap.d-flex.justify-content-left.align-items-center.h-100.navbar.navbar-expand-lg.navbar-dark.px-0
					.logo.flex-grow-1.flex-sm-grow-0.flex-md-grow-0.flex-lg-0.flex-xl-grow-0
						a(href="#")
							img(src="images/logo/logo.svg", alt="")
							span Федеральный реестр<br>Сервисных центров

					button.city-select
						+icon('map-point', 'map-point_mod')
						span Москва

					
					button.navbar-toggler.p-0(type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
					nav.header-nav.collapse.navbar-collapse.flex-grow-1.p-0#navbarNav2
						ul.navbar-nav.ml-auto.pt-3.pt-lg-0
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Ремонт
								.dropdown-menu(aria-labelledby="navbarDropdownMenuLink3")
									a.dropdown-item(href="#") Ремонт 1
									a.dropdown-item(href="#") Ремонт 2
									a.dropdown-item(href="#") Ремонт 3
									a.dropdown-item(href="#") Ремонт 4
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Услуги
								.dropdown-menu(aria-labelledby="navbarDropdownMenuLink4")
									a.dropdown-item(href="#") Услуги 1
									a.dropdown-item(href="#") Услуги 2
									a.dropdown-item(href="#") Услуги 3
									a.dropdown-item(href="#") Услуги 4
							li.nav-item.active
								a.nav-link(href="#") Заявка на ремонт
							li.nav-item.active
								a.nav-link(href="#") Вопросы по ремонту
		header.header.bg-primary-blue
			.container
				.header-wrap.d-flex.justify-content-left.align-items-center.h-100.navbar.navbar-expand-lg.navbar-dark.px-0
					.logo.flex-grow-1.flex-sm-grow-0.flex-md-grow-0.flex-lg-0.flex-xl-grow-0
						a(href="#")
							img(src="images/logo/logo.svg", alt="")
							span Федеральный реестр<br>Сервисных центров

					button.city-select(data-toggle="modal" data-target="#exampleModal")
						+icon('map-point', 'map-point_mod')
						span Москва

					
					button.navbar-toggler.p-0(type="button" data-toggle="collapse" data-target="#navbarNav3" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
						span.navbar-toggler-icon
					nav.header-nav.collapse.navbar-collapse.flex-grow-1.p-0#navbarNav3
						ul.navbar-nav.ml-auto.pt-3.pt-lg-0
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Ремонт
								.dropdown-menu(aria-labelledby="navbarDropdownMenuLink5")
									a.dropdown-item(href="#") Ремонт 1
									a.dropdown-item(href="#") Ремонт 2
									a.dropdown-item(href="#") Ремонт 3
									a.dropdown-item(href="#") Ремонт 4
							li.nav-item.dropdown
								a.nav-link.dropdown-toggle(href="#" id="navbarDropdownMenuLink6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Услуги
								.dropdown-menu(aria-labelledby="navbarDropdownMenuLink6")
									a.dropdown-item(href="#") Услуги 1
									a.dropdown-item(href="#") Услуги 2
									a.dropdown-item(href="#") Услуги 3
									a.dropdown-item(href="#") Услуги 4
							li.nav-item.active
								a.nav-link(href="#") Заявка на ремонт
							li.nav-item.active
								a.nav-link(href="#") Вопросы по ремонту
		
		.modal.fade.city-select-body#exampleModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-body
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						form#citySelectForm.form(action="/")
							.form-group
								input(type="text" placeholder="Введите наименование города")
						.cities.d-flex.flex-wrap.justify-content-start
							.col-12.col-sm-6.col-md-4.cities-col.d-flex.flex-column
								a.cities-item(href="#") Москва
								a.cities-item(href="#") Санкт-Петербург
								a.cities-item(href="#") Волгоград
								a.cities-item(href="#") Воронеж
								a.cities-item(href="#") Екатеринбург
								a.cities-item(href="#") Иркутск
								a.cities-item(href="#") Казань
							.col-12.col-sm-6.col-md-4.cities-col.d-flex.flex-column
								a.cities-item(href="#") Краснодар
								a.cities-item(href="#") Красноярск
								a.cities-item(href="#") Нижний Новгород
								a.cities-item(href="#") Новосибирск
								a.cities-item(href="#") Омск
								a.cities-item(href="#") Пермь
								a.cities-item(href="#") Ростов-на-Дону
							.col-12.col-sm-6.col-md-4.cities-col.d-flex.flex-column
								a.cities-item(href="#") Самара
								a.cities-item(href="#") Сочи
								a.cities-item(href="#") Уфа
								a.cities-item(href="#") Челябинск



		// scripts
		include ../layout/scripts.pug
		script(src="js/main.js")