include ../mixins/mixins.pug
doctype html
html(lang="ru")
	include ../layout/head.pug

	body
		//- include ../layout/pgs.pug
		include ../layout/header.pug
		header.header.theme_dark-blue
			.container
				.header-wrap.d-flex.justify-content-left.align-items-center.h-100
					.logo.flex-grow-1.flex-sm-grow-0.flex-md-grow-0.flex-lg-0.flex-xl-grow-0
						a(href="#")
							img(src="images/logo/logo.svg", alt="")
							span Федеральный реестр<br>Сервисных центров

					button.city-select
						+icon('map-point', 'map-point_mod')
						span Москва

					nav.header-nav.flex-grow-1
						a(href="#") Ремонт
							+icon('shevron','shevron_mod')
						a(href="#") Услуги
							+icon('shevron','shevron_mod')
						a(href="#") Заявка на ремонт
						a(href="#") Вопросы по ремонту
					.m-btn-menu.flex-md-grow-1.flex-sm-grow-1
						span
		header.header.theme_blue
			.container
				.header-wrap.d-flex.justify-content-left.align-items-center.h-100
					.logo.flex-grow-1.flex-sm-grow-0.flex-md-grow-0.flex-lg-0.flex-xl-grow-0
						a(href="#")
							img(src="images/logo/logo.svg", alt="")
							span Федеральный реестр<br>Сервисных центров

					button.city-select
						+icon('map-point', 'map-point_mod')
						span Москва

					nav.header-nav.flex-grow-1
						a(href="#") Ремонт
							+icon('shevron','shevron_mod')
						a(href="#") Услуги
							+icon('shevron','shevron_mod')
						a(href="#") Заявка на ремонт
						a(href="#") Вопросы по ремонту
					.m-btn-menu.flex-md-grow-1.flex-sm-grow-1
						span
		header.header.theme_dark
			.container
				.header-wrap.d-flex.justify-content-left.align-items-center.h-100
					.logo.flex-grow-1.flex-sm-grow-0.flex-md-grow-0.flex-lg-0.flex-xl-grow-0
						a(href="#")
							img(src="images/logo/logo.svg", alt="")
							span Федеральный реестр<br>Сервисных центров

					button.city-select
						+icon('map-point', 'map-point_mod')
						span Москва

					nav.header-nav.flex-grow-1
						a(href="#") Ремонт
							+icon('shevron','shevron_mod')
						a(href="#") Услуги
							+icon('shevron','shevron_mod')
						a(href="#") Заявка на ремонт
						a(href="#") Вопросы по ремонту
					.m-btn-menu.flex-md-grow-1.flex-sm-grow-1
						span


		.container
			.ui-wrap
				.city-select-body
					form#citySelectForm.form(action="/")
						.form-group
							input(type="text" placeholder="Введите наименование города")
					.cities.d-flex.flex-wrap.justify-content-start
						.col-12.col-sm-6.col-md-4.cities-col.d-flex.flex-column
							a.cities-item(href="#") Москва
							a.cities-item(href="#") Санкт-Петербург
							a.cities-item(href="#") Волгоград
							a.cities-item(href="#") Воронеж
							a.cities-item(href="#") Екатеринбург
							a.cities-item(href="#") Иркутск
							a.cities-item(href="#") Казань
						.col-12.col-sm-6.col-md-4.cities-col.d-flex.flex-column
							a.cities-item(href="#") Краснодар
							a.cities-item(href="#") Красноярск
							a.cities-item(href="#") Нижний Новгород
							a.cities-item(href="#") Новосибирск
							a.cities-item(href="#") Омск
							a.cities-item(href="#") Пермь
							a.cities-item(href="#") Ростов-на-Дону
						.col-12.col-sm-6.col-md-4.cities-col.d-flex.flex-column
							a.cities-item(href="#") Самара
							a.cities-item(href="#") Сочи
							a.cities-item(href="#") Уфа
							a.cities-item(href="#") Челябинск
			.ui-wrap
				.row
					.select.col-xs-2
						.selection
							span Время работы сервиса
					.select.is-open.col-xs-2
						.selection
							span Время работы сервиса
						.select-dropdown
							.checkbox
								input(type="checkbox" id="ch-1")
								label(for="ch-1") до 10:00
							.checkbox
								input(type="checkbox" id="ch-2")
								label(for="ch-2") после 19:00
							.checkbox
								input(type="checkbox" id="ch-3")
								label(for="ch-3") круглосуточно
		// scripts
		include ../layout/scripts.pug
		script(src="js/main.js")