
ul.breadcrumbs
	li.breadcrumbs-item
		a.breadcrumbs-link(href="#") 
			+icon('house','house_mod')
			a.breadcrumbs-link(href="#") Сервисы
	li.breadcrumbs-item -
	li.breadcrumbs-item
		a.breadcrumbs-link(href="#") Производители
	li.breadcrumbs-item -
	li.breadcrumbs-item
		a.breadcrumbs-link(href="#") Samsung