nav(aria-label="breadcrumb")
	ol.breadcrumb.d-flex.justify-content-start.align-items-center.flex-wrap
		li.breadcrumb-item
			a.breadcrumb-link(href="#")
				+icon('house','house_mod')
		li.breadcrumb-item
			a.breadcrumb-link(href="#") Сервисы
		li.breadcrumb-item.active Производители