// footer
footer.footer
	.footer-col
		p 2020 Ремонт в сервисных центрах Москвы ремонт<br>в сервисных центрах Москвы
		nav.footer-nav
			.footer-nav-item
				a(href="#") Обратная связь
			.footer-nav-item
				a(href="#") Пользовательское соглашение
			.footer-nav-item
				a(href="#") Оказание платных услуг
		ul.footer-social
			li
				a(href="#")
					img(src="images/social/fb.png", alt="")
			li
				a(href="#")
					img(src="images/social/tw.png", alt="")
	.footer-col
		.footer-control
			a.btn.btn-footer.btn-login(href="#") 
				+icon('login','login_mod')
				| Войти
			a.btn.btn-footer(href="#") Добавить сервисный центр
