
footer.footer.d-flex.justify-content-between.flex-column.flex-md-row.align-items-center.align-items-md-start.col-12.col-lg-12.col-xl-8
	.footer-col.order-1.order-md-0.col-auto.col-md-6.px-0
		p 2020 Ремонт в сервисных центрах Москвы ремонт<br>в сервисных центрах Москвы
		nav.footer-nav
			.footer-nav-item
				a(href="#") Обратная связь
			.footer-nav-item
				a(href="#") Пользовательское соглашение
			.footer-nav-item
				a(href="#") Оказание платных услуг
		ul.footer-social
			li
				a(href="#")
					img(src="images/social/fb.png", alt="")
			li
				a(href="#")
					img(src="images/social/tw.png", alt="")
	.footer-col.order-0.order-md-1.col-auto.col-md-6.px-0
		.footer-control.d-flex.justify-content-center.justify-content-md-end
			a.btn.btn-footer.btn-login(href="#") 
				+icon('login','login_mod')
				| Войти
			a.btn.btn-footer(href="#") Добавить сервисный центр
