.pgs-btn.pgs-btn-active
	span
	span
.pgs.pgs-active-panel
	.pgs-nav.pgs-active-panel
		ul
			li
				a(href="index.html") Главная
			li
				a(href="map-active.html") Карта
			li
				a(href="ui.html") UI
	.pgs-project-name
		span Проект
	.pgs-project-logo
		span.pgs-project-version-site Adaptive
		img#pgs-logo(src='images/pgs/logo.svg', alt='')
	.pgs-footer.pgs-active-panel
		img#tech(src='images/pgs/tech.png', alt='')
		img#pgs-logo-group(src='images/pgs/logo-group.png', alt='')
		a#pgs-phone(href='tel:89110854626') 8 911 085 46 26
		a#pgs-domen(href='www.givesale.ru') www.givesale.ru
